.box-chef {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;

  &--pointer {
    cursor: pointer;
  }

  &__avatar {
    margin-right: 1.25rem;

    & img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  &__name {
    font-size: 1.13em;
  }

  &__total {
    font-size: 0.875em;
    color: $tertiary-color;
  }
}
