.dashboard {
  margin-top: 3.13rem;
  margin-bottom: 1.88rem;

  &__header {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5em;
  }

  &__box-button {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__form {
    margin-bottom: 1.88rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;

    &--1-column {
      grid-template-columns: 1fr;
      row-gap: 1.88rem;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8rem;
    row-gap: 3.25rem;

    &--4-columns {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.88rem;
    }

    &--2-columns {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.25rem;
    }
  }
}
