.form-actions {
  margin-bottom: 2.19rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__forgot-password a {
    font-weight: 700;
    color: $gray-light;
  }

  &__btn-submit button {
    padding: 0.56rem 2.19rem;
    border-radius: 4px;
    border: none;
    background-color: hsl(247, 47%, 55%);
    font-weight: 700;
    font-size: 1em;
    color: $primary-color;
  }
}
