.menu {
  display: flex;

  &__item {
    margin-right: 1.48rem;

    & a {
      padding: 0.4rem;
      color: $secondary-color;
      transition: text-shadow 100ms ease-in;

      &:hover {
        text-shadow: 0 0 0.5px #000, 0 0 0.7px #000;
      }
    }

    &--active {
      text-shadow: 0 0 0.5px #000, 0 0 0.7px #000;
    }
  }
}

.menu__item--alter {
  & a {
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-light;

    &:hover {
      text-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff;
      color: #fff;
    }
  }

  &.menu__item--active {
    text-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff;

    & a {
      color: #fff;
    }
  }
}
