{% extends 'layouts/admin.njk' %}

{% block titlePage %}
  <title>{{ title }}
    - Administração Foodfy</title>
{% endblock titlePage %}

{% block content %}
  <div class="dashboard">
    <header class="dashboard__header">
      <h1 class="dashboard__title">Criar Receita</h1>
      <button type="submit" form="create-recipe" class="button">Salvar</button>
    </div>
  </header>
  <form action="/admin/recipes" method="post" enctype="multipart/form-data" class="dashboard__form dashboard__form--1-column" id="create-recipe">
    <div class="field">
      <span class="field__label">Images</span>
      <div class="field--row">
        <div>
          <label class="field__label-button" for="files"></label>
          <input type="file" name="files" id="files" accept="image/jpg, image/jpeg, image/pjpeg, image/png, image/gif" multiple="multiple" class="d-none">
        </div>
        <div class="upload-preview"></div>
      </div>
    </div>
    <div class="field">
      <label class="field__label" for="chef_id">Chef</label>
      <select name="chef_id" id="chef_id" class="field__input">
        <option value="">Selecione um chef</option>
        {% for chef in chefs %}
          <option value="{{ chef.id }}">{{ chef.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="field">
      <label class="field__label" for="title">Título</label>
      <input class="field__input" type="text" name="title" id="title" placeholder="Dê um nome para sua receita">
    </div>
    <div class="field">
      <label class="field__label" for="ingredients">Ingredientes</label>
      <div class="field__container">
        <input class="field__input" type="text" name="ingredients" id="ingredients" placeholder="Digite o nome completo">
      </div>
      <button type="button" class="button-add">Adicionar novo ingrediente</button>
    </div>
    <div class="field">
      <label class="field__label" for="preparation">Modo de preparo</label>
      <div class="field__container">
        <input class="field__input" type="text" name="preparation" id="preparation" placeholder="Digite o nome completo">
      </div>
      <button type="button" class="button-add">Adicionar novo passo</button>
    </div>
    <div class="field">
      <label class="field__label" for="information">Informações adicionais</label>
      <textarea class="field__input" name="information" id="information" rows="15"></textarea>
    </div>
  </form>
</div>
{% endblock content %}
