{% extends 'layouts/default.njk' %}

{% block titlePage %}
  <title>{{ title }}
    - Foodfy</title>
{% endblock titlePage %}

{% block content %}
  <div class="search-section">
    <h1 class="search-section__title f-bold f-size-24px">Buscando por "{{ filter }}"</h1>
    <div class="recipe-section-alter">
      {% for recipe in recipes %}
        <div id="{{ recipe.id }}" class="box-recipe-alter recipe-redirect">
          <div class="box-recipe-alter__img">
            <img src="{{ recipe.files[0].path }}" alt="{{ recipe.files[0].name }}">
          </div>
          <div class="box-recipe-alter__info">
            <h1 class="box-recipe-alter__title">{{ recipe.title }}</h1>
            <p class="box-recipe-alter__author">por
              {{ recipe.chef.name }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
