<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block titlePage %}{% endblock titlePage %}

    <link rel="stylesheet" href="/bundle.css">
  </head>
  <body>
    {% if message %}
      <div class="message {{ 'message--err' if message.err }} {{ 'message--sucess' if message.sucess }}">
        {{ message.err or message.sucess }}
      </div>
    {% endif %}
    <header class="header--bg-black">
      <div class="header container">
        <div class="logo">
          <a href="/admin/users/profile" class="logo__link">
            <img src="/assets/logo-adm.png" alt="Logo Foodfy">
          </a>
        </div>
        <nav class="nav-primary">
          <ul class="menu">
            <li class="menu__item menu__item--alter">
              <a href="/admin/recipes">Minhas Receitas</a>
            </li>
            <li class="menu__item menu__item--alter">
              <a href="/admin/chefs">Chefs</a>
            </li>
            <li class="menu__item menu__item--alter">
              <a href="/admin/users">Usuários</a>
            </li>
          </ul>
          <form action="/admin/users/logout" method="post">
            <button type="submit" class="button-logout">Sair</button>
          </form>
        </nav>
      </div>
    </header>

    <main class="container">
      {% block content %}{% endblock content %}
    </main>

    <script src="/bundle.js"></script>
  </body>
</html>
