<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block titlePage %}{% endblock titlePage %}

    <link rel="stylesheet" href="/bundle.css">
  </head>
  <body>
    <header class="header container">
      <div class="logo">
        <a href="/" class="logo__link">
          <img src="/assets/logo.png" alt="Logo Foodfy">
        </a>
      </div>
      <nav>
        <ul class="menu">
          <li class="menu__item">
            <a href="/about">Sobre</a>
          </li>
          <li class="menu__item">
            <a href="/recipes">Receitas</a>
          </li>
          <li class="menu__item">
            <a href="/chefs">Chefs</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="container">
      {% block content %}{% endblock content %}
    </main>

    <footer class="footer">
      <div class="container">
        <p>&copy Todos direitos reservados, receitas Foodfy.</p>
      </div>
    </footer>

    <script src="/bundle.js"></script>
  </body>
</html>
