<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block titlePage %}{% endblock titlePage %}

    <link rel="stylesheet" href="/bundle.css">
  </head>
  <body>
    {% if message %}
      <div class="message {{ 'message--err' if message.err }} {{ 'message--sucess' if message.sucess }}">
        {{ message.err or message.sucess }}
      </div>
    {% endif %}
    <header class="header--alter container">
      <div class="logo logo--mg">
        <a href="/" class="logo__link">
          <img src="/assets/logo.png" alt="Logo Foodfy">
        </a>
      </div>
    </header>

    <main>
      {% block content %}{% endblock content %}
    </main>

    <script src="/bundle.js"></script>
  </body>
</html>
